.Rosters {

    text-align: center;
    width: 100%;
    height: 800px;
  
    background-color: black;
}

.RosterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    
}